@import '../../constants/styles';
@import '../../constants/note';

.NoteContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1;
  color: var(--text-color);
  padding-bottom: 12px;

  &.isReply {
    padding-bottom: 0px;
  }

  &.unread {
    &.isReply {
      background: rgba($color:$pdftron-blue, $alpha: 0.08);
    }

    &.clicked {
      .author-and-time {
        span {
          font-weight: normal;
        }
      }
    }

    .author-and-time {
      span {
        font-weight: bold;
      }
    }
  }

  .container {
    margin-top: 8px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;
    cursor: text;
    padding-left: 52px;
    padding-right: 12px;
  }

  .container-reply {
    margin-top: 8px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;
    cursor: text;
  }

  .edit-content {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    padding-left: 14px; // DS CHANGE, 52px to 14px
    padding-right: 12px;
    padding-bottom: 12px;

    @include ie11 {
      flex: none;
    }

    textarea {
      width: 100%;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-top: 4px;
      padding-bottom: 4px;
      resize: none;
      overflow: hidden;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    .edit-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 4px;

      > div {
        margin-right: 4px;
      }

      .save-button {
        @include button-reset;
        cursor: pointer;
        flex-shrink: 0;
        background: var(--primary-button);
        border-radius: 4px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: var(--primary-button-text);
        padding: 0 13px;

        &:hover {
          background: var(--primary-button-hover);
          color: var(--primary-button-text);
        }

        &.disabled {
          background: var(--gray-6);
          border-color: var(--gray-6);
          cursor: not-allowed;
        }
      }

      .cancel-button {
        @include button-reset;
        color: var(--secondary-button-text);
        padding: 0 10px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 2px;

        &:hover {
          color: var(--secondary-button-hover);
        }
      }
    }
    
    .private-toggle {
      margin-top: -6px;
      margin-left: 14px;
    }
  }

  .reply-content {
    padding-left: 0px;
  }

  .contents {
    white-space: pre-wrap;
    color: var(--text-color);
    margin-right: 5px;
    padding: 0;
    word-break: normal;
    word-wrap: break-word;
    user-select: text;

    .highlight {
      background: #fffc95;
      color: #333333;
    }
  }


  .highlight {
    background: #fffc95;
  }

  .selected-text-preview {
    padding-left: 52px;
    padding-top: 8px;
  }

  .reply-attachment-list {
    margin-bottom: 8px;
  }
}

// START DS CHANGE
.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding-right: 5px;
  top: 7px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 48px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #FF9644;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #ffffff;
}

.react-toggle--checked .react-toggle-track {
  background-color: #fff;
  border: 2px solid #0064B5;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #ffffff;
}

.react-toggle-track-check {
  display: none;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  display: none;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 4px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FF9644;;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  background-color: #0064B5;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

.buttons > label {
  padding-left: 40px;
}

.message {
  margin-left: 10px;
}

.content-container {
  margin-bottom: 5px;
}

.message-container {
  margin-left: 14px;
  margin-top: 10px;
  display: flex;
}

.message-container > .Icon {
  width: 15px;
}

.message-container-edit {
  margin-top: 10px;
  display: flex;
}

.message-container-edit > .Icon {
  width: 15px;
}

.edit-content > textarea {
  margin-bottom: 10px;
}
// END DS CHANGE